<section class="content-navbar">
  <main class="navbar">
    <div class="identity-page">
      <h1>Aviacion Civil</h1>
    </div>

    <nav class="nav">
      <ul class="nav-list">
        <a routerLink="/inicio" routerLinkActive="active-section"
          [class.active-section]="activeLink.includes('/inicio')">
          <li>Inicio</li>
        </a>

        <a routerLink="/pilotos" routerLinkActive="active-section"
          [class.active-section]="activeLink.includes('/pilotos')">
          <li>Pilotos</li>
        </a>
        <a routerLink="/aviones" routerLinkActive="active-section"
          [class.active-section]="activeLink.includes('/aviones')">
          <li>Aviones</li>
        </a>
        <a routerLink="/aeropuertos" routerLinkActive="active-section"
          [class.active-section]="activeLink.includes('/aeropuertos')">
          <li>Aeropuertos</li>
        </a>
        <a routerLink="/vuelos" routerLinkActive="active-section"
          [class.active-section]="activeLink.includes('/vuelos')">
          <li>Vuelos</li>
        </a>
      </ul>
    </nav>
  </main>
</section>

<router-outlet></router-outlet>